<div class="container">
  <h4 class="page-header">Student info</h4>

  <div class="alert alert-success" role="alert" *ngIf="showToast">
    <p>Successfully</p>
  </div>

  <form [formGroup]="studentForm">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">name</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="name"
          formControlName="name"
        />
      </div>
    </div>

    <div
      class="form-group row"
      *ngIf="studnetName.touched && studnetName.invalid"
    >
      <div class="col-sm-2"></div>
      <div
        *ngIf="studnetName.touched && studnetName.errors?.required"
        class="alert alert-danger col-sm-10"
      >
        Studnet name is required
      </div>

      <div
        *ngIf="studnetName.touched && studnetName.errors?.minlength"
        class="alert alert-danger col-sm-10"
      >
        name must be minimunm
        {{ studnetName.errors?.minlength.requiredLength }} charrachter
      </div>

      <div
        *ngIf="studnetName.touched && studnetName.errors?.maxlength"
        class="alert alert-danger col-sm-10"
      >
        name must be maximum
        {{ studnetName.errors?.maxlength.requiredLength }} charrachter
      </div>
    </div>

    <div class="form-group row">
      <label for="phone" class="col-sm-2 col-form-label">phone</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="phone"
          formControlName="phone"
        />
      </div>
    </div>

    <div class="form-group row" *ngIf="phone.touched && phone.invalid">
      <div class="col-sm-2"></div>

      <div
        *ngIf="phone.touched && phone.errors?.required"
        class="alert alert-danger col-sm-10"
      >
        Studnet name is required
      </div>

      <div
        *ngIf="phone.touched && phone.errors?.pattern"
        class="alert alert-danger col-sm-10"
      >
        phone is 11 digit length <br />phone must start with 01
      </div>
    </div>

    <div class="form-group row">
      <label for="faculty" class="col-sm-2 col-form-label">faculty</label>
      <div class="col-sm-10">
        <select id="faculty" class="form-control" formControlName="faculty">
          <option [selected]="!student">select faculty</option>
          <option
            [selected]="f == student?.faculty && student != undefined"
            *ngFor="let f of faculty"
            [value]="f"
            >{{ f }}</option
          >
        </select>
      </div>
    </div>

    <div
      class="form-group row"
      *ngIf="studnetfaculty.touched && studnetfaculty.invalid"
    >
      <div class="col-sm-2"></div>

      <div
        *ngIf="studnetfaculty.touched && studnetfaculty.errors?.required"
        class="alert alert-danger col-sm-10"
      >
        Studnet faculty is required
      </div>
    </div>

    <div class="form-group row">
      <label for="date" class="col-sm-2 col-form-label">Date Of Birth</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" formControlName="dateOfBirth" />
      </div>
    </div>

    <div class="form-group row" *ngIf="birthdate.touched && birthdate.invalid">
      <div class="col-sm-2"></div>

      <div
        *ngIf="birthdate.touched && birthdate.errors?.required"
        class="alert alert-danger col-sm-10"
      >
        Studnet name is required
      </div>
    </div>

    <div class="form-group row">
      <label for="address" class="col-sm-2 col-form-label">address</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="address"
          formControlName="address"
        />
      </div>
    </div>

    <div class="form-group row">
      <label for="image" class="col-sm-2 col-form-label">image</label>
      <div class="col-sm-10 image">
        <input
          type="text"
          [attr.disabled]="true"
          class="form-control"
          id="image"
          placeholder="image"
          [value]="imageUrl"
        />
        <button class="" (click)="openUpload()">...</button>
      </div>
    </div>

    <div class="flex">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="onSubmit()"
        [disabled]="studentForm.invalid"
      >
        Save
      </button>
      <button type="submit" class="btn btn-primary" (click)="goBAck()">
        Back
      </button>
    </div>
  </form>
</div>

<input
  hidden
  type="file"
  id="avatar"
  name="avatar"
  accept="image/png, image/jpeg"
  (change)="onchangeFileUpload($event)"
/>
