@import variables

.container
  width: 80%
  margin: 0% auto
  padding-bottom: 30px

  .page-header
    text-align: center
    padding: 3% 0px

  .col-sm-10.image
    position: relative

    button
      position: absolute
      top: 0
      right: 3%
      bottom: 0
      width: 40px
      border: 0px
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px

  .flex
    display: flex
    justify-content: center

    button
      width: 100px
      margin: 0px 20px

  .alert
    margin: 0px
    padding: 5px 10px
