<div class="container">
  <div class="alert alert-success" role="alert" *ngIf="showToast">
    <p>Delete Successfully</p>
  </div>

  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let student of allStudents">
      <img
        [src]="student.imageUrl"
        alt="Random first slide"
        (click)="showStudentDetails(student)"
      />
      <div class="carousel-caption" (click)="showStudentDetails(student)">
        <h3>{{ student.name }}, {{ student.age }}</h3>
        <p>{{ student.address }}</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <div class="student" *ngIf="showInfo">
    <div class="info">
      <div class="student-image">
        <img [src]="student.imageUrl" />
        <h5 class="student-name">{{ student.name }}</h5>
      </div>
      <div class="student-info">
        <div class="title">
          <h5>faculty</h5>
          <h5>phone</h5>
          <h5>dateOfBirth</h5>
          <h5>address</h5>
        </div>
        <div class="data">
          <h5>{{ student.faculty }}</h5>
          <h5>{{ student.phone }}</h5>
          <h5>{{ student.dateOfBirth }}</h5>
          <h5>{{ student.address }}</h5>
        </div>
      </div>
    </div>
    <!-- info -->

    <div class="actions">
      <div class="btns">
        <button class="btn btn-primary" (click)="goToEditPage()">Edit</button>
        <button
          class="btn btn-primary"
          data-backdrop="static"
          data-keyboard="false"
          data-toggle="modal"
          data-target="#myModal"
        >
          delete
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Delete Confirmation
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete tihs student
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancleModal"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          No
        </button>
        <button type="button" class="btn btn-primary" (click)="deleteStudent()">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
