@import variables


/deep/ .carousel-item
  cursor: pointer
  height: 300px
  &:active, &focus
    outline: none

  img
    width: 100%
    height: 85%
    width: 50%
    cursor: pointer
    position: absolute
    top: 0
    left: 25%
/deep/ .carousel-indicators
  li
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: #000

/deep/ .carousel-control-prev-icon, /deep/ .carousel-control-next-icon
  width: 35px
  height: 47px
  background-color: #000
  color: #000




.student
  border: 1px solid #ddd
  width: 100%
  margin: 2% 0px
  display: flex
  justify-content: space-between
  padding: 15px

  .info
    width: 80%
    display: flex
    justify-content: flex-start
    height: 150px
    border-right: 1px solid #ddd

    .student-image
      width: 20%
      height: 80%

      img
        width: 100%
        height: 100%
        border: 1px solid #ddd

      .student-name
        text-align: center
        margin: 10px 0px

    .student-info
      width: 80%
      padding: 10px 5%
      display: flex
      justify-content: flex-start
      h5
        font-size: 14px

      .title
        width: 20%
        +phone
          width: 50%
          font-size: 12px
        h5
          color: #09f
      .data
        width: 80%
        +phone
          width: 50%
          font-size: 12px
        h5
          color: #808080


  .actions
    width: 20%
    text-align: center
    position: relative

    .btns
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      +phone
        left: 65%

      button
        display: inline-block
        width: 100%
        margin-bottom: 30px
        +phone
          font-size: 12px

.alert-success
  width: 50%
  margin: 0px auto
